#writer-sarah-app {
  .ws-about-descript {
    padding: 14px;
    text-align: left;
    box-shadow: 2px 2px 7px 2px #aaa;
    border-radius: 6px;
    div {
      color: #555;
      margin: 10px;
    }
  }
}