#writer-sarah-app {
  .ws-about-descript {
    padding: 14px;
    text-align: left;
    box-shadow: 2px 2px 7px 2px #aaa;
    border-radius: 6px;
    div {
      color: #555;
      margin: 10px;
    }

  }
  .ws-media-container {
    width: 420px;
    margin: 31px auto 100px;
    @media (max-width: 767px) {
      padding: 0;
      width: 100%;
    }
  }

  .about-img {
    height: 350px;
    width: 350px;
    display: block;
    margin: 10px auto 0;
    vertical-align: top;
    @media (max-width: 767px) {
      height: 250px;
      width: 250px;
    }
  }
}