#writer-sarah-app {
  .ws-contact-icon {
    height: 30px;
    width: 30px;
    margin: 25px 30px 0;
    &:hover {
      opacity: .7;
    }
    @media (max-width: 767px) {
      margin: 21px;
    }
  }

  .ws-contact-links {
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 14px;
    &:hover {
      color: black;
      text-decoration: underline;
      opacity: .7;
    }
  }
}
