#writer-sarah-app {
  .ws-contact-icon {
    height: 20px;
    width: 20px;
    margin: 15px 25px 0px;
    &:hover {
      opacity: .7;
    }
    @media (max-width: 992px) {
      margin: 21px;
      display: none;
    }
  }

  .ws-contact-links {
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 11px;
    margin-bottom: 30px;
    @media (max-width: 992px){
      display: none;
    }
    &:hover {
      color: black;
      text-decoration: underline;
      opacity: .7;
    }
  }
}
