#writer-sarah-app {
  .ws-body-content-div {
    border-top: 3px solid #ccc;
    padding: 11px 11px 11px 11px;
    margin-top: 11px;
  }

  .body-img{
    height: 350px;
    width: 350px;
    float: right;
    margin: 15px 30px 0 30px;
    @media (max-width: 991px){
      display: none;
    }
  }

  .body-img2{
    display: none;
    @media (max-width: 991px){
      height: 250px;
      width: 250px;
      display: block;
      position: relative;
      float: none;
      margin: 21px auto;
    }
  }

  .ws-body-title {
    display: inline-block;
    text-shadow: 2px 3px 5px #999;
    padding: 5px 10px 0 0;
    margin-left: 11px;
  }

  .ws-category-descript {
    color: #777;
    padding: 1px 10px;
    font-size: 14px;
    margin: 2px 4em 15px;
  }

  #ws-article-container{
    margin-top: 15px;
    display: inline-block;
  }


  .ws-article-list {
    list-style-type: none;
    margin: 10px 0 0 20px;
    text-align: left;
    width: 585px;
    @media (max-width: 767px) {
      width: 100%;
      margin-right: 4px;
    }
    a{
      font-size: 12px;
      color: #444;
      border-bottom: 1px dashed #999;
      &:hover{
        color: #333;
        border-bottom: 1px solid #999;
        text-shadow: 3px 3px 3px #bbb;
      }
    }
  }

  .ws-article-descript {
    font-weight: normal;
    color: #888;
    font-size: 11px;
    font-style: italic;
  }
}
