#writer-sarah-app {
  .ws-liltext {
    font-size: 12px;
    margin: 0px 4px;
  }

  .ws-css-form input.ng-invalid.ng-dirty {
    background-color: #ffa4a4;
  }

  .ws-css-form input.ng-valid.ng-dirty {
    background-color: #b4e49e;
  }

  .ws-wrap {
    background: linear-gradient(#ddd, #bbb);
    border-radius: 6px;
    padding: 5px 0;
    box-shadow: 2px 2px 2px 2px #aaa;
    margin: 15px 0 0 0 !important;
  }

  .ws-editarticle-list {
    list-style-type: none;
    margin: 10px 0 0 20px;
    text-align: left;
    @media (max-width: 767px) {
      width: 100%;
      margin: 2px 4px;
    }
    a{
      font-size: 15px;
      color: #444;
      border-bottom: 1px dashed #444;
      &:hover{
        color: #555;
        border-bottom: 1px solid #555;
      }
    }
  }

  .ws-drag {
    margin: 2px 20px 0 10px;
    float: left;
    color: #777;
    &:hover {
      cursor: all-scroll;
    }
  }
}
